<button type="button" class="btn btn-outline-dark" routerLink="/admin/main/products/create">Ürün Ekle</button>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Ürün Adı</th>
      <th>Fiyat</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of getProducts()">
      <td>
        <img src="/assets/img/{{ p.imageUrl }}" width="50px">
      </td>
      <td>{{ p.name }}</td>
      <td>{{ p.price }} <span class="">TL</span></td>
      <td>
        <button [routerLink]="['/admin/main/products/edit', p.id]" class="btn btn-outline-success btn-sm">Düzenle</button>
        <button (click)="deleteProduct(p)" class="btn btn-outline-danger btn-sm m-2">Sil</button>
      </td>
    </tr>
  </tbody>
</table>
