.active {
  background-color: #212529 !important;
  border-color: #212529 !important;
}
.pt-100 {
  padding-top:100px;
}
.block {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
}
